body {
  margin: 0;
  text-align: center;
  background-image: url("./assets/wallrules.jpg");
  background-size: cover; /* Pour ajuster la taille de l'image pour remplir le conteneur */
  background-repeat: no-repeat;
  width:100vw;
height:100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    margin: 0;
}

.html {
  margin-top: 0;
}

.App-header {
  font-family: Fontmont;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20vh;
  width:72vw;
}

 .wallrules {
  width:100vw;
height:100vh;

}
.titlerule {
 
  
}
.App-link {
  color: #61dafb;
} 

@font-face {
  font-family: Fontmont;
  src: url("./assets/Painted.ttf");
}